@import '../variables/varFonts';
.about {
  font-family: $font-primary!important;
  color: #fff;
  position: relative;
  height: auto;
  padding: 15px 0px;
  
  .container__about {
    position: relative;
    .container__about--infos {
      width: 75%;
      height: auto;
      margin: auto;
      padding: 10px 0px;
      display: flex;
      flex-direction: column;
      .infos--text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
        padding: 45px 0px;
        margin: 0 auto;
        color: #d6b538;
        p {
          font-size: 1.4em;
          max-width: 70%;
        }
      }

      .infos--formation {
        margin: 10px auto;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .left{
          display: flex;
          flex-direction: row-reverse!important;
        }

        .formation--card {
          width: 100%;
          margin: 8px 0px;
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          justify-content: center;
          height: auto;
          padding: 15px 5px;
          color: #edbf19;
         
          .card--img{
            width: 40%;
            img {
              width: 100px;
              height: 100px;
            }
          }
          .card--infos{
            width: 60%;
            .divider{
              margin: 8px 0px;
              height: 1px;
              background-color: #2EB1EB;
              width: 100%;
            }
  
          }
        }
      }
    }
  }
}

.highlighter__about{
    transform: rotate(270deg);
    color: #fff;
    position: absolute;
    left: 1%;
    top : 50%;
    span{
        color: #D6B538!important;
        font-size: 1.8em;  
        font-weight: bold;
    }
    &::after{
        content: "";
        width: 20px;
        height: 20px;
        border-top: 3px solid #2EB1EB;
        border-left: 3px solid #2EB1EB;
        
        position: absolute;
        top: -10px;
        left: -15px;
        transition: 1s ease-in-out ;

    }

    &::before{
        content: "";
        width: 20px;
        height: 20px;
        border-bottom: 3px solid white;
        border-right: 3px solid white;
        position: absolute;
        bottom: -10px;
        right: -15px;
        transition: 1s ease-in-out ;
    }

    &:hover{
        &::after{
            width: 112px;
            height: 43px;
            border-top: 3px solid white;
            border-left: 3px solid white;
            border-radius: 5px;
        }
        &::before{
            width: 112px;
            height: 43px;
            border-bottom: 3px solid #2EB1EB;
            border-right: 3px solid #2EB1EB;
            border-radius: 5px;
        }
    }
}