.stacks{
    height: 70px;
    width: 100%;
    background-color: #65beeb1d;
    overflow: hidden;
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 13.5px );
    .container__stacks{
        overflow: hidden;
        position: relative;
        .stacks{
            display: flex;
            justify-content: center;
            align-items: center;
            //animation: ticker 8s  ease-in-out infinite;
            .stacks--img{
                margin: 5px 20px;
               //animation: ticker 9s infinite ease-in-out;
                img{
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }

}
