html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #030917;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: minhaFont;
  src: url(../../font/Mova.ttf);
}
@font-face {
  font-family: minhaFont;
  src: url(../../font/Mova.ttf);
}
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: minhaFont !important;
}

.card__presentation {
  display: flex;
  color: #fff;
  width: 80%;
  height: 70%;
  align-items: center;
  justify-content: space-evenly;
  -webkit-backdrop-filter: blur(85px);
          backdrop-filter: blur(85px);
}

.card__presentation:before {
  content: "";
  position: absolute;
  background: transparent;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px);
  border-radius: 25px;
  box-shadow: 0px 0px 0px 2px #fff;
}

.card__presentation--text {
  padding-left: 15px;
  font-family: minhaFont;
  display: flex;
  flex-direction: column;
}
.card__presentation--text span {
  font-size: 1.4em;
  font-weight: 100;
}
.card__presentation--text h1 {
  margin: 15px 0px;
  font-size: 2em;
  font-weight: bold;
}
.card__presentation--text .btn__cv {
  text-align: center;
  color: #fff;
  background-color: #D6B538;
  margin-top: 15px;
  padding: 8px 0px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
.card__presentation--text .btn__cv:hover {
  background-color: #ffc907;
}

.card__presentation--card {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.presentation--img {
  background-color: #D6B538;
  padding: 15px;
  border-radius: 150px;
}

.presentation--text {
  text-align: center;
  font-size: 1.2em;
}

.presentation--social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
}

.card__presentation--banner {
  position: absolute;
  bottom: 5%;
  width: 99%;
  padding: 5px 0px;
  background-color: rgba(91, 91, 91, 0.0549019608);
  text-align: center;
  font-size: 1.5em;
}

.animation__frontend {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 75vh;
}

@font-face {
  font-family: minhaFont;
  src: url(../../font/Mova.ttf);
}
.about {
  font-family: minhaFont !important;
  color: #fff;
  position: relative;
  height: auto;
  padding: 15px 0px;
}
.about .container__about {
  position: relative;
}
.about .container__about .container__about--infos {
  width: 75%;
  height: auto;
  margin: auto;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}
.about .container__about .container__about--infos .infos--text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 45px 0px;
  margin: 0 auto;
  color: #d6b538;
}
.about .container__about .container__about--infos .infos--text p {
  font-size: 1.4em;
  max-width: 70%;
}
.about .container__about .container__about--infos .infos--formation {
  margin: 10px auto;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .container__about .container__about--infos .infos--formation .right {
  flex-direction: row;
}
.about .container__about .container__about--infos .infos--formation .left {
  display: flex;
  flex-direction: row-reverse;
}
.about .container__about .container__about--infos .infos--formation .formation--card {
  width: 100%;
  margin: 8px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: auto;
  padding: 15px 5px;
  color: #edbf19;
}
.about .container__about .container__about--infos .infos--formation .formation--card .card--img {
  width: 40%;
}
.about .container__about .container__about--infos .infos--formation .formation--card .card--img img {
  width: 100px;
  height: 100px;
}
.about .container__about .container__about--infos .infos--formation .formation--card .card--infos {
  width: 60%;
}
.about .container__about .container__about--infos .infos--formation .formation--card .card--infos .divider {
  margin: 8px 0px;
  height: 1px;
  background-color: #2EB1EB;
  width: 100%;
}

.services {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-family: minhaFont;
}

.swiper {
  margin: 5px 0px;
  padding: 20px 0px !important;
}

.container__slider {
  height: auto;
  width: 85%;
}

.container__slider--two {
  margin: 4px;
  position: relative;
  padding: 45px 0px;
}
.container__slider--two .container__next {
  position: absolute;
  right: 0%;
  top: 50%;
}
.container__slider--two .container__next img {
  width: 30px;
}
.container__slider--two .container__previu {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: rotate(180deg);
}
.container__slider--two .container__previu img {
  width: 30px;
}

.container__slider--one {
  margin: 4px;
  position: relative;
  padding: 45px 0px;
}
.container__slider--one .container__next {
  position: absolute;
  right: 0%;
  top: 50%;
}
.container__slider--one .container__next img {
  width: 30px;
}
.container__slider--one .container__previu {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: rotate(180deg);
}
.container__slider--one .container__previu img {
  width: 30px;
}

.container__service--one {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
}

.container__service--two {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.container__card--infos {
  width: 35%;
  position: relative;
}
.container__card--infos .ball__animation--yellow {
  position: absolute;
  right: 0%;
  bottom: -10%;
  background-color: #D6B538;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  -webkit-animation: moveBallYellow 10s ease-in-out infinite;
          animation: moveBallYellow 10s ease-in-out infinite;
  z-index: -105;
  box-shadow: 1px 1px 25px #d1ba68;
}
.container__card--infos .ball__animation--blue {
  position: absolute;
  left: -10%;
  top: -10%;
  background-color: #05C4EB;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  -webkit-animation: moveBallBlue 10s ease-in-out infinite;
          animation: moveBallBlue 10s ease-in-out infinite;
  z-index: -105;
  box-shadow: 1px 1px 25px #69dbf1;
}

.card__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 270px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2588235294);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  box-shadow: 0px 0px 25px rgba(209, 207, 207, 0.4235294118);
}
.card__infos .title__service {
  font-size: 35px;
  font-weight: bold;
  color: #EDEFF0;
  margin-bottom: 35px;
  font-weight: bold;
}
.card__infos .text__service {
  font-size: 1.1em;
  color: #D6B538;
  max-width: 80%;
  margin-bottom: 25px;
  font-weight: 100;
}
.card__infos .btn__projects {
  text-decoration: none;
  padding: 5px 0px;
  width: 80%;
  border-radius: 80px;
  font-size: 1.1em;
  font-weight: 100;
  color: #EDEFF0;
  background-color: rgba(5, 197, 235, 0.2117647059);
}

.container__card--img--one {
  height: 270px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
  border-radius: 8px;
}
.container__card--img--one .img--adjusted {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.container__card--img--two {
  height: 270px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
}
.container__card--img--two .img--adjusted {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card-1, .card-2, .card-3 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@-webkit-keyframes moveBallBlue {
  0% {
    top: -8%;
    left: -8%;
  }
  25% {
    top: -8%;
    left: 100%;
  }
  50% {
    top: 95%;
    left: 95%;
  }
  75% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: -8%;
    left: -8%;
  }
}

@keyframes moveBallBlue {
  0% {
    top: -8%;
    left: -8%;
  }
  25% {
    top: -8%;
    left: 100%;
  }
  50% {
    top: 95%;
    left: 95%;
  }
  75% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: -8%;
    left: -8%;
  }
}
@-webkit-keyframes moveBallYellow {
  0% {
    bottom: -10%;
    right: -10%;
  }
  25% {
    bottom: -10%;
    right: 100%;
  }
  50% {
    bottom: 95%;
    right: 95%;
  }
  75% {
    bottom: 50%;
    right: 50%;
  }
  100% {
    bottom: -10%;
    right: -10%;
  }
}
@keyframes moveBallYellow {
  0% {
    bottom: -10%;
    right: -10%;
  }
  25% {
    bottom: -10%;
    right: 100%;
  }
  50% {
    bottom: 95%;
    right: 95%;
  }
  75% {
    bottom: 50%;
    right: 50%;
  }
  100% {
    bottom: -10%;
    right: -10%;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-top: 1px #D6B538 dashed;
  font-family: minhaFont;
}
.footer span {
  font-size: 1.5em;
  color: #D6B538;
  font-weight: 100;
}

.cards--service {
  height: 100vh;
}

.services--mobile {
  display: none;
}

.card--mobile {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.card-2 {
  flex-direction: row-reverse;
}

.swiper {
  width: 80%;
  height: 40%;
}

.swiper--mobile {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #030917;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-color {
  color: #FFFFFF !important;
  font-weight: bold;
}
.reset-color span {
  background-color: #D6B538;
}

.wave--technologies {
  position: relative;
  width: 100%;
  height: 80vh;
  border: 1px solid red;
}

.wave {
  position: absolute;
  top: 25%;
  left: 0px;
  width: 100%;
  height: 100px;
  background: url(../../../wave.png);
  background-size: 1000px 100px;
}

.wave.wave1 {
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    left: 0px;
  }
  100% {
    left: 1000px;
  }
}

@keyframes animate {
  0% {
    left: 0px;
  }
  100% {
    left: 1000px;
  }
}
.contact {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: minhaFont;
}
.contact .container__contact {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact .container__contact .container__contact--text {
  color: #EDEFF0;
  font-size: 2em;
  text-align: center;
  line-height: 1.5em;
  font-weight: 100;
}
.contact .container__contact .container__contact--email {
  position: relative;
  width: 100%;
  height: 75px;
  text-align: center;
}
.contact .container__contact .container__contact--email .contact--email {
  color: #2EB1EB !important;
  font-size: 1.7em;
  text-decoration: none;
  text-transform: none;
  font-weight: bold;
}
.contact .container__contact .container__contact--email img {
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-animation: mouseAnimated 10s infinite ease-in-out;
          animation: mouseAnimated 10s infinite ease-in-out;
}

@-webkit-keyframes mouseAnimated {
  0% {
    top: 30%;
    left: 45%;
  }
  50% {
    top: 30%;
    left: 55%;
  }
  100% {
    top: 30%;
    left: 45%;
  }
}

@keyframes mouseAnimated {
  0% {
    top: 30%;
    left: 45%;
  }
  50% {
    top: 30%;
    left: 55%;
  }
  100% {
    top: 30%;
    left: 45%;
  }
}
.stacks {
  height: 70px;
  width: 100%;
  background-color: rgba(101, 190, 235, 0.1137254902);
  overflow: hidden;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(13.5px);
}
.stacks .container__stacks {
  overflow: hidden;
  position: relative;
}
.stacks .container__stacks .stacks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stacks .container__stacks .stacks .stacks--img {
  margin: 5px 20px;
}
.stacks .container__stacks .stacks .stacks--img img {
  width: 45px;
  height: 45px;
}

@font-face {
  font-family: minhaFont;
  src: url(../../font/Mova.ttf);
}
.skills {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-top: 75px;
  height: auto;
  width: 100%;
  font-family: minhaFont !important;
}
.skills .container__skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  width: 75%;
  height: 450px;
  color: #fff;
}
.skills .container__skills .hard__skills, .skills .container__skills .soft__skills {
  text-align: center;
}
.skills .container__skills .hard__skills h3, .skills .container__skills .soft__skills h3 {
  margin-bottom: 25px;
}
.skills .container__skills .hard__skills .skills--progress, .skills .container__skills .soft__skills .skills--progress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

@media screen and (max-width: 850px) {
  .card__presentation {
    flex-direction: column-reverse;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
  }
  .card__presentation .card__presentation--text {
    text-align: center;
  }
  .card__presentation .card__presentation--card {
    height: auto;
  }
  .highlighter {
    display: none;
  }
  .curriculum {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  .card__presentation {
    width: 80%;
    border: 1px #5B5B5B solid;
    border-radius: 8px;
  }
  .card__presentation::before {
    display: none;
  }
  .card__presentation--banner {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .container__about .container__about--infos .infos--img img {
    width: 35px;
  }
  .container__about .container__about--infos .infos--text p {
    max-width: 100% !important;
    font-size: 1.2em !important;
  }
  .container__about .container__about--infos .infos--formation {
    width: 100% !important;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container__about .container__about--infos .infos--formation .left {
    display: flex !important;
    flex-direction: column !important;
  }
  .container__about .container__about--infos .infos--formation .formation--card {
    flex-direction: column !important;
    width: 100% !important;
    text-align: center !important;
  }
  .container__about .container__about--infos .infos--formation .formation--card .card--img {
    margin-bottom: 12px;
  }
  .container__about .container__about--infos .infos--formation .formation--card span {
    font-size: 1em !important;
  }
  .container__about .container__about--infos .infos--formation .formation--card img {
    width: 60px !important;
    height: 60px !important;
  }
}
@media screen and (max-width: 850px) {
  .services {
    display: none;
  }
  .services--mobile {
    margin: 45px 15px;
    height: auto;
    padding: 5px;
    display: block !important;
  }
  .services--mobile .card--mobile {
    height: 90vh !important;
  }
  .services--mobile .card--mobile .container__card--infos {
    margin: 45px;
    width: 70%;
  }
  .services--mobile .card--mobile .container__card--infos .card__infos .title__service {
    font-size: 1.2em;
  }
  .services--mobile .card--mobile .container__card--infos .card__infos .text__service {
    font-size: 1em;
  }
  .services--mobile .card--mobile .container__card--infos .card__infos .btn__projects {
    font-size: 1em;
  }
  .services--mobile .card--mobile .blank {
    background-color: #fff !important;
  }
  .services--mobile .card--mobile .container__card--img--one {
    width: 70%;
  }
}
@media screen and (max-width: 850px) {
  .contact .container__contact .container__contact--img img {
    height: 120px;
    width: 120px;
  }
  .contact .container__contact .container__contact--text p {
    font-size: 1em;
  }
  .contact .container__contact .container__contact--email .contact--email {
    font-size: 1.3em;
  }
  .contact .container__contact .container__contact--email img {
    height: 15px;
  }
  .footer span {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 850px) {
  .stacks--img {
    -webkit-animation: ticker 12s infinite ease-in-out;
            animation: ticker 12s infinite ease-in-out;
  }
}
@-webkit-keyframes ticker {
  0% {
    transform: translateX(500%);
  }
  50% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(500%);
  }
}
@keyframes ticker {
  0% {
    transform: translateX(500%);
  }
  50% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(500%);
  }
}
@media screen and (max-width: 850px) {
  .container__skills {
    flex-direction: column;
    width: 80%;
    height: auto !important;
  }
  .container__skills .hard__skills {
    width: 100%;
  }
  .container__skills .hard__skills .skills--progress {
    width: 100%;
  }
  .container__skills .hard__skills #teste {
    width: 100%;
  }
  .container__skills .soft__skills {
    margin-top: 25px;
    width: 100%;
  }
  .container__skills .soft__skills #teste {
    width: 100%;
  }
}
.front--pai01 {
  position: absolute;
  bottom: 0%;
  left: 8%;
}

.front--pai02 {
  position: absolute;
  bottom: 15%;
  left: 11%;
}

.front--pai03 {
  position: absolute;
  bottom: 10%;
  left: 14%;
}

.front--pai04 {
  position: absolute;
  bottom: 15%;
  left: 17%;
}

.front--pai05 {
  position: absolute;
  bottom: 20%;
  left: 20%;
}

.front--pai06 {
  position: absolute;
  bottom: 52%;
  left: 23%;
}

.front--pai07 {
  position: absolute;
  bottom: 3%;
  left: 26%;
}

.front--pai08 {
  position: absolute;
  bottom: 35%;
  left: 29%;
}

.front--pai09 {
  position: absolute;
  bottom: 53%;
  left: 32%;
}

.front--pai10 {
  position: absolute;
  bottom: 0%;
  left: 35%;
}

.front--pai11 {
  position: absolute;
  bottom: 4%;
  left: 38%;
}

.front--pai11 {
  position: absolute;
  bottom: 54%;
  left: 42%;
}

.front--pai12 {
  position: absolute;
  top: 5%;
  left: 44%;
}

.front--pai13 {
  position: absolute;
  top: 84%;
  left: 46%;
}

.front--pai14 {
  position: absolute;
  top: 54%;
  left: 48%;
}

.front--pai15 {
  position: absolute;
  top: 24%;
  left: 50%;
}

.front--pai16 {
  position: absolute;
  top: 93%;
  left: 53%;
}

.front--pai17 {
  position: absolute;
  top: 63%;
  left: 56%;
}

.front--pai18 {
  position: absolute;
  top: 33%;
  left: 59%;
}

.front--pai19 {
  position: absolute;
  top: 30%;
  left: 62%;
}

.front--pai20 {
  position: absolute;
  top: 72%;
  left: 65%;
}

.front--pai21 {
  position: absolute;
  top: 42%;
  left: 68%;
}

.front--pai22 {
  position: absolute;
  top: 12%;
  left: 71%;
}

.front--pai23 {
  position: absolute;
  bottom: 81%;
  left: 74%;
}

.front--pai24 {
  position: absolute;
  bottom: 51%;
  left: 77%;
}

.front--pai25 {
  position: absolute;
  bottom: 21%;
  left: 80%;
}

.front--pai26 {
  position: absolute;
  bottom: 99%;
  left: 83%;
}

.front--pai27 {
  position: absolute;
  bottom: 66%;
  left: 86%;
}

.front--pai28 {
  position: absolute;
  bottom: 33%;
  left: 89%;
}

.front--pai29 {
  position: absolute;
  bottom: 10%;
  left: 92%;
}

.front--pai30 {
  position: absolute;
  bottom: 12%;
  left: 42%;
}

.front--pai31 {
  position: absolute;
  bottom: 31%;
  left: 12%;
}

.front--pai32 {
  position: absolute;
  bottom: 23%;
  left: 22%;
}

.front--pai33 {
  position: absolute;
  bottom: 33%;
  left: 42%;
}

.front--pai34 {
  position: absolute;
  bottom: 88%;
  left: 34%;
}

.front--pai35 {
  position: absolute;
  bottom: 7%;
  left: 25%;
}

.front--pai36 {
  position: absolute;
  bottom: 6%;
  left: 29%;
}

.front--pai37 {
  position: absolute;
  bottom: 77%;
  left: 48%;
}

.front--pai38 {
  position: absolute;
  bottom: 2%;
  left: 36%;
}

.front--pai39 {
  position: absolute;
  bottom: 17%;
  left: 65%;
}

.front--pai40 {
  position: absolute;
  bottom: 37%;
  left: 58%;
}

.front--pai41 {
  position: absolute;
  bottom: 91%;
  left: 18%;
}

.frontUp {
  -webkit-animation: moveFrontUp 2s ease-in-out infinite alternate;
          animation: moveFrontUp 2s ease-in-out infinite alternate;
}

.frontDown {
  -webkit-animation: moveFrontUp 3s ease-in-out infinite alternate;
          animation: moveFrontUp 3s ease-in-out infinite alternate;
}

@-webkit-keyframes moveFrontUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes moveFrontUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@font-face {
  font-family: minhaFont;
  src: url(../font/Mova.ttf);
}/*# sourceMappingURL=main.css.map */