html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #030917;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.highlighter {
  transform: rotate(270deg);
  color: #fff;
  position: absolute;
  left: 1%;
}
.highlighter span {
  color: #D6B538 !important;
  font-size: 1.8em;
}
.highlighter::after {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 3px solid #2EB1EB;
  border-left: 3px solid #2EB1EB;
  position: absolute;
  top: -10px;
  left: -15px;
  transition: 1s ease-in-out;
}
.highlighter::before {
  content: "";
  width: 20px;
  height: 20px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  position: absolute;
  bottom: -10px;
  right: -15px;
  transition: 1s ease-in-out;
}
.highlighter:hover::after {
  width: 112px;
  height: 43px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-radius: 5px;
}
.highlighter:hover::before {
  width: 112px;
  height: 43px;
  border-bottom: 3px solid #2EB1EB;
  border-right: 3px solid #2EB1EB;
  border-radius: 5px;
}

.curriculum {
  position: absolute;
  right: 2%;
  transform: rotate(270deg);
}
.curriculum a {
  color: #D6B538 !important;
  font-size: 1.8em;
  text-decoration: none;
}
.curriculum::after {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 3px solid #2EB1EB;
  border-left: 3px solid #2EB1EB;
  position: absolute;
  top: -10px;
  left: -15px;
  transition: 1s ease-in-out;
  z-index: -2;
}
.curriculum::before {
  content: "";
  width: 20px;
  height: 20px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  position: absolute;
  bottom: -10px;
  right: -15px;
  transition: 1s ease-in-out;
  z-index: -2;
}
.curriculum:hover::after {
  width: 192px;
  height: 43px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-radius: 5px;
  z-index: -2;
}
.curriculum:hover::before {
  width: 192px;
  height: 43px;
  border-bottom: 3px solid #2EB1EB;
  border-right: 3px solid #2EB1EB;
  border-radius: 5px;
  z-index: -2;
}

.card__presentation {
  display: flex;
  padding: 25px;
  color: #fff;
  width: 60%;
  height: 50vh;
  align-items: center;
  justify-content: space-evenly;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.card__presentation:before {
  content: "";
  position: absolute;
  background: transparent;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 15000px #5B5B5B;
  filter: blur(3px);
  border-radius: 25px;
  box-shadow: 0px 0px 0px 2px #fff;
}

.card__presentation--text {
  padding-left: 15px;
}
.card__presentation--text span {
  font-size: 1.4em;
}
.card__presentation--text h1 {
  margin: 15px 0px;
  font-size: 2em;
}

.card__presentation--card {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.presentation--img {
  background-color: #D6B538;
  padding: 15px;
  border-radius: 150px;
}

.presentation--text {
  text-align: center;
  font-size: 1.2em;
}

.presentation--social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
}

.card__presentation--banner {
  position: absolute;
  bottom: 5%;
  width: 99%;
  padding: 5px 0px;
  background-color: rgba(91, 91, 91, 0.0549019608);
  text-align: center;
  font-size: 1.5em;
}

.animation__frontend {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 75vh;
}

.front--pai01 {
  position: absolute;
  bottom: 0%;
  left: 8%;
  height: 100%;
}

.front--pai02 {
  position: absolute;
  bottom: 0%;
  left: 11%;
  height: 100%;
}

.front--pai03 {
  position: absolute;
  bottom: 0%;
  left: 14%;
  height: 100%;
}

.front--pai04 {
  position: absolute;
  bottom: 0%;
  left: 17%;
  height: 100%;
}

.front--pai05 {
  position: absolute;
  bottom: 0%;
  left: 20%;
  height: 100%;
}

.front--pai06 {
  position: absolute;
  bottom: 0%;
  left: 23%;
  height: 100%;
}

.front--pai07 {
  position: absolute;
  bottom: 0%;
  left: 26%;
  height: 100%;
}

.front--pai08 {
  position: absolute;
  bottom: 0%;
  left: 29%;
  height: 100%;
}

.front--pai09 {
  position: absolute;
  bottom: 0%;
  left: 32%;
  height: 100%;
}

.front--pai10 {
  position: absolute;
  bottom: 0%;
  left: 35%;
  height: 100%;
}

.front--pai11 {
  position: absolute;
  bottom: 0%;
  left: 38%;
  height: 100%;
}

.front--pai11 {
  position: absolute;
  bottom: 0%;
  left: 42%;
  height: 100%;
}

.front--pai12 {
  position: absolute;
  bottom: 0%;
  left: 44%;
  height: 100%;
}

.front--pai13 {
  position: absolute;
  bottom: 0%;
  left: 46%;
  height: 100%;
}

.front--pai14 {
  position: absolute;
  bottom: 0%;
  left: 48%;
  height: 100%;
}

.front--pai15 {
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 100%;
}

.front--pai16 {
  position: absolute;
  bottom: 0%;
  left: 53%;
  height: 100%;
}

.front--pai17 {
  position: absolute;
  bottom: 0%;
  left: 56%;
  height: 100%;
}

.front--pai18 {
  position: absolute;
  bottom: 0%;
  left: 59%;
  height: 100%;
}

.front--pai19 {
  position: absolute;
  bottom: 0%;
  left: 62%;
  height: 100%;
}

.front--pai20 {
  position: absolute;
  bottom: 0%;
  left: 65%;
  height: 100%;
}

.front--pai21 {
  position: absolute;
  bottom: 0%;
  left: 68%;
  height: 100%;
}

.front--pai22 {
  position: absolute;
  bottom: 0%;
  left: 71%;
  height: 100%;
}

.front--pai23 {
  position: absolute;
  bottom: 0%;
  left: 74%;
  height: 100%;
}

.front--pai24 {
  position: absolute;
  bottom: 0%;
  left: 77%;
  height: 100%;
}

.front--pai25 {
  position: absolute;
  bottom: 0%;
  left: 80%;
  height: 100%;
}

.front--pai26 {
  position: absolute;
  bottom: 0%;
  left: 83%;
  height: 100%;
}

.front--pai27 {
  position: absolute;
  bottom: 0%;
  left: 86%;
  height: 100%;
}

.front--pai28 {
  position: absolute;
  bottom: 0%;
  left: 89%;
  height: 100%;
}

.front--pai29 {
  position: absolute;
  bottom: 0%;
  left: 92%;
  height: 100%;
}

.frontUp {
  -webkit-animation: moveFrontUp 3s ease-in infinite alternate;
          animation: moveFrontUp 3s ease-in infinite alternate;
}

.frontDown {
  -webkit-animation: moveFrontDown 3s ease-in infinite alternate;
          animation: moveFrontDown 3s ease-in infinite alternate;
}

@-webkit-keyframes moveFrontUp {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(200%);
  }
}

@keyframes moveFrontUp {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(200%);
  }
}
@-webkit-keyframes moveFrontDown {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(-200%);
  }
}
@keyframes moveFrontDown {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(-200%);
  }
}
.services {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.highlighter__services {
  transform: rotate(270deg);
  color: #fff;
  position: absolute;
  left: 1%;
}
.highlighter__services span {
  color: #D6B538 !important;
  font-size: 1.8em;
}
.highlighter__services::after {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 3px solid #2EB1EB;
  border-left: 3px solid #2EB1EB;
  position: absolute;
  top: -10px;
  left: -15px;
  transition: 1s ease-in-out;
}
.highlighter__services::before {
  content: "";
  width: 20px;
  height: 20px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  position: absolute;
  bottom: -10px;
  right: -15px;
  transition: 1s ease-in-out;
}
.highlighter__services:hover::after {
  width: 160px;
  height: 43px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-radius: 5px;
}
.highlighter__services:hover::before {
  width: 160px;
  height: 43px;
  border-bottom: 3px solid #2EB1EB;
  border-right: 3px solid #2EB1EB;
  border-radius: 5px;
}

.container__slider {
  height: auto;
  width: 85%;
}

.container__slider--two {
  margin: 4px;
  position: relative;
  padding: 45px 0px;
}
.container__slider--two .container__next {
  position: absolute;
  right: 0%;
  top: 50%;
}
.container__slider--two .container__next img {
  width: 30px;
}
.container__slider--two .container__previu {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: rotate(180deg);
}
.container__slider--two .container__previu img {
  width: 30px;
}

.container__slider--one {
  margin: 4px;
  position: relative;
  padding: 45px 0px;
}
.container__slider--one .container__next {
  position: absolute;
  right: 0%;
  top: 50%;
}
.container__slider--one .container__next img {
  width: 30px;
}
.container__slider--one .container__previu {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: rotate(180deg);
}
.container__slider--one .container__previu img {
  width: 30px;
}

.container__service--one {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container__service--two {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.container__card--infos {
  width: 35%;
  position: relative;
}
.container__card--infos .ball__animation--yellow {
  position: absolute;
  right: 0%;
  bottom: -10%;
  background-color: #D6B538;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  -webkit-animation: moveBallYellow 10s ease-in-out infinite;
          animation: moveBallYellow 10s ease-in-out infinite;
  z-index: -105;
  box-shadow: 1px 1px 25px #d1ba68;
}
.container__card--infos .ball__animation--blue {
  position: absolute;
  left: -10%;
  top: -10%;
  background-color: #05C4EB;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  -webkit-animation: moveBallBlue 10s ease-in-out infinite;
          animation: moveBallBlue 10s ease-in-out infinite;
  z-index: -105;
  box-shadow: 1px 1px 25px #69dbf1;
}

.card__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 270px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2588235294);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  box-shadow: 0px 0px 25px rgba(209, 207, 207, 0.4235294118);
}
.card__infos .title__service {
  font-size: 35px;
  font-weight: bold;
  color: #EDEFF0;
  margin-bottom: 35px;
}
.card__infos .text__service {
  font-size: 1.1em;
  color: #D6B538;
  max-width: 80%;
  margin-bottom: 25px;
}
.card__infos .btn__projects {
  text-decoration: none;
  padding: 5px 0px;
  width: 80%;
  border-radius: 80px;
  font-size: 1.1em;
  font-weight: bolder;
  color: #EDEFF0;
  background-color: rgba(5, 197, 235, 0.2117647059);
}

.container__card--img--one {
  height: 270px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
  border-radius: 8px;
}

.container__card--img--two {
  height: 270px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
}

.card-1, .card-2, .card-3 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@-webkit-keyframes moveBallBlue {
  0% {
    top: -8%;
    left: -8%;
  }
  25% {
    top: -8%;
    left: 100%;
  }
  50% {
    top: 95%;
    left: 95%;
  }
  75% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: -8%;
    left: -8%;
  }
}

@keyframes moveBallBlue {
  0% {
    top: -8%;
    left: -8%;
  }
  25% {
    top: -8%;
    left: 100%;
  }
  50% {
    top: 95%;
    left: 95%;
  }
  75% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: -8%;
    left: -8%;
  }
}
@-webkit-keyframes moveBallYellow {
  0% {
    bottom: -10%;
    right: -10%;
  }
  25% {
    bottom: -10%;
    right: 100%;
  }
  50% {
    bottom: 95%;
    right: 95%;
  }
  75% {
    bottom: 50%;
    right: 50%;
  }
  100% {
    bottom: -10%;
    right: -10%;
  }
}
@keyframes moveBallYellow {
  0% {
    bottom: -10%;
    right: -10%;
  }
  25% {
    bottom: -10%;
    right: 100%;
  }
  50% {
    bottom: 95%;
    right: 95%;
  }
  75% {
    bottom: 50%;
    right: 50%;
  }
  100% {
    bottom: -10%;
    right: -10%;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-top: 1px #D6B538 dashed;
}
.footer span {
  font-size: 1.5em;
  color: #D6B538;
}

.cards--service {
  height: 100vh;
}

.card--mobile {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.card-2 {
  flex-direction: row-reverse;
}

.swiper {
  width: 80%;
  height: 40%;
}

.swiper--mobile {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #030917;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-color {
  color: #FFFFFF !important;
  font-weight: bold;
}
.reset-color span {
  background-color: #D6B538;
}

.wave--technologies {
  position: relative;
  width: 100%;
  height: 80vh;
  border: 1px solid red;
}

.wave {
  position: absolute;
  top: 25%;
  left: 0px;
  width: 100%;
  height: 100px;
  background: url(../../../wave.png);
  background-size: 1000px 100px;
}

.wave.wave1 {
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    left: 0px;
  }
  100% {
    left: 1000px;
  }
}

@keyframes animate {
  0% {
    left: 0px;
  }
  100% {
    left: 1000px;
  }
}
.contact {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact .container__contact {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact .container__contact .container__contact--text {
  color: #EDEFF0;
  font-size: 2em;
  text-align: center;
  line-height: 1.5em;
}
.contact .container__contact .container__contact--email {
  position: relative;
  width: 100%;
  height: 75px;
  text-align: center;
}
.contact .container__contact .container__contact--email .contact--email {
  color: #2EB1EB !important;
  font-size: 1.7em;
  text-decoration: none;
  text-transform: none;
}
.contact .container__contact .container__contact--email img {
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-animation: mouseAnimated 10s infinite ease-in-out;
          animation: mouseAnimated 10s infinite ease-in-out;
}

@-webkit-keyframes mouseAnimated {
  0% {
    top: 30%;
    left: 45%;
  }
  50% {
    top: 30%;
    left: 55%;
  }
  100% {
    top: 30%;
    left: 45%;
  }
}

@keyframes mouseAnimated {
  0% {
    top: 30%;
    left: 45%;
  }
  50% {
    top: 30%;
    left: 55%;
  }
  100% {
    top: 30%;
    left: 45%;
  }
}/*# sourceMappingURL=main.css.map */