@media screen and (max-width: 850px) {
    .contact{
        .container__contact{
            .container__contact--img{
                img{
                    height: 120px;
                    width: 120px;
                }
            }
            .container__contact--text{
                p{
                    font-size: 1.0em;
                }
            }
            .container__contact--email{
                .contact--email{
                    font-size: 1.3em;
                }
                img{
                    height: 15px;
                }
            }
        }
    }

    .footer{
        span{
            font-size: 1.1em;
        }
    }
}