@media screen and (max-width: 850px) {
    .card__presentation{
        flex-direction: column-reverse;
        height: 80vh;
        align-items: center;
        justify-content: space-evenly;
        .card__presentation--text{
            text-align: center;

        }
        .card__presentation--card{
            height: auto;
        }
    }
    
    .highlighter{
        display: none;
    }
    .curriculum{
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .card__presentation{
        width: 80%;
        border: 1px #5B5B5B solid;
        border-radius: 8px;
    }
    .card__presentation::before{
        display: none;
    }
    .card__presentation--banner{
        display: none;
    }
}