@media screen and (max-width: 850px) {
    .stacks--img{
       animation: ticker 12s infinite ease-in-out;
    }
}
@keyframes ticker {
    0%{
        transform: translateX(500%);
    }
    50%{
        transform: translateX(-500%);
    }
    100%{
        transform: translateX(500%);
    }
}