@media screen and (max-width: 850px) {
    .card__presentation{
        flex-direction: column-reverse;
        height: 80vh;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        background-color: red;
        .card__presentation--text{
            text-align: center;

        }
        .card__presentation--card{
            height: auto;
        }
    }
    
    .highlighter{
        display: none;
    }
    .curriculum{
        display: none;
    }
}